fastapi
uvicorn[standard]
sqlalchemy
mysqlclient
pymysql
pydantic[email]
pydantic-settings
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
mysql-connector-python
python-multipart
websockets
requests
PyJWT
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
msal
linkedin-api
packaging